.spinner_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem 0;
}

@keyframes spin {
    0% { transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.spinner_content {
    width: 2rem;
    height: 2rem;
    display: block;
    border-radius: 50%;
    border: 3px solid #99f;
    border-top: 3px solid #00f;
    animation: spin 2s ease-in-out infinite;
}