.button {
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .25rem;
    border-width: 1px;
    border-style: solid;
    background: transparent;
    margin: .25rem;
}

.button_primary {
    background: #00f8;
    border-color: #00f;
}

.button_secondary {
    background: #ddd8;
    border-color: #ddd;
}

.button_danger {
    background: #f008;
    border-color: #f00;
}

.button_success {
    background: #0f08;
    border-color: #0f0;
}