.modal_wrapper {
    border-radius: .5rem;
    border: 1px solid blue;
    padding: 0;
    width: 100%;
    max-width: 30rem;
}

.modal_header {
    padding: .5rem 2rem;
    position: relative;
    border-bottom: 1px solid blue;
}

.modal_close {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: transparent;
    color: red;
    font-size: 2rem;
    cursor: pointer;
}